html {
   animation-name: fadeIn; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
    margin: 0;
}

* {box-sizing: border-box}
body {margin:0}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
	font-family: Termina;
	margin-left: 40px;
  overflow-x: hidden;
}

a {
	position: relative;
	display: inline-block;
	padding: 10px;
	top: -270px;
	left: -10px;
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: blue;
  }

.home {
  font-size: 60px;
}

.line {
  position: absolute;
  left: 3%;
  top: 15%;
  height: .2vh;
  width: 80vw;
  background-color: black;
}

#sticker {
  position: relative;
  top: 18vh;
  left: 47vw;
}

#home {
  position: absolute;
  font-family: Termina;
  color: black;
  font-size: 30px;
  top: 37vh;
  left: 48.7vw;
  opacity: 0;
}


#img1 {
  position: absolute;
  top: 12vh;
  left: -60vw;
  transition: 1s;
}

#plus {
  position: absolute;
  opacity: 0;
  left: -3900%;
  top: 13.2vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
}

p{
  position: absolute;
  font-family: 'Cormorant Garamond', serif;
  top: -7.8vh;
  left: .8vh;
  font-size: 40px;
  color: black;
  padding: -10px 3px 0 3px;
  text-align: center;
}

#img2 {
  position: absolute;
  top: 12vh;
  left: -2400%;
  transition: 1s;
  padding-left: 10px;
  z-index: 1;
}

#gray {
 color: #3e4241
}

#plus2{
  position: absolute;
  opacity: 0;
  left: -2170%;
  top: 13.2vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
  z-index: 5;
}

#img3 {
position: absolute;
top: 107vh;
left: -38.9vw;
height: 490px;
width: 69vh;
transition: 1s;
padding-bottom: 5vh;
}

#green{
 color: #374f29;
}

#plus3{
  position: absolute;
  opacity: 0;
  left: -38vw;
  top: 108vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
  z-index: 5;
}

#img4 {
position: absolute;
top: 66vh;
left: -65.65vw;
width: 40vh;
transition: 1s;
z-index: 1;
}

#turq{
 color: #9bd1bf;
}

#plus4{
  position: absolute;
  opacity: 0;
  left: -64.7vw;
  top: 67.2vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
  z-index: 5;
}

#img5 {
position: absolute;
top: 85vh;
left: -2.2vw;
width: 40vh;
transition: 1s;
z-index: 1;
}

#plus5{
  position: absolute;
  opacity: 0;
  left: -1.5vw;
  top: 86vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
  z-index: 5;
}

#img6 {
position: absolute;
top: 12vh;
left: -4vw;
width: 40vh;
transition: 1s;
z-index: 1;
}

#lightgray {
 color: #d7d7d7;
}

#plus6{
  position: absolute;
  opacity: 0;
  left: -3.4vw;
  top: 13vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
  z-index: 5;
}